/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	margin:0 0 0 0;
}
header{
	margin-top:3%;
}
nav{
	display:inline-block;
	width:100%;
	margin: 0 3%;
	overflow: hidden;
  background-color: rgb(144, 196, 255);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 93%; /* Full width */
}
header nav a{
	display:inline-block;
	width:10%;
	color:gray;
	text-decoration:none;
	margin: 2% 1% 1% 1%;
}

header nav a:hover{
	color:rgb(144, 196, 255);
	background-color: rgb(138, 138, 138);
	text-transform:uppercase;
}

.logo{
	margin: 1% 0%;
	display:inline;
	float:right;
}

.first{
	display:inline-block;
	width:100%
}

.first h1{
	display:block;
	height:25%;
	font-size:4rem ;

}
.bigHeader{
	display: inline-block;
    float: left;
    margin: 10% 1% 1% 0%;
    position: relative;
    left: 15%;
}

.innovation{
	width:100%;
}

.on{
	text-align:center;
	width:100%;
}

.demand{
	text-align:center;
	width:100%;
}

.get{
	text-align:center;
	margin:3% auto;
	border: 1px solid gray;
	padding: 2% 2%;
	width: 45%;
}

.first img{
	margin:1% 1% 1% 1%;
	
	width:30%;
	position: absolute;
    top: 10%;
    left: 63%;
}
#topLine{
	width:90%;
	margin:auto;
	border-bottom:1px solid gray;
}
.second{
	display:inline-block;
	width:100%;
	/* border-top:1px solid gray; */
	padding-top: 3%;
}

#features{
	width:45%;
	float:left;
	margin: 3% 0 0 3%;
}

#about{
	width:45%;
	float:right;
	margin: 3% 3% 0 0;
}

.middle-img{
	display: inline;
	width: 100%;
	margin: 5% 5% 5% 3%;
	padding: 0 7% 0 0;
}

.third{
	display:inline-block;
	width:100%;
	padding-bottom:3%;
}

.third div{
	width:30%;
	float:left;
}

#services{
	margin:0 0 3% 3%;
}

#product{
	margin: 0 2% 3% 2%;
}

#vision{
	margin:0 3% 3% %0;
}

footer{
	display:inline-block;
	width:100%;
	margin-bottom: 13%;
}

#bottomLine{
	width:90%;
	margin:auto;
	border-top:1px solid gray;
}

address{
	display:block;
	margin: 3% 3% 0% 3%;
}

address div{
	width:15%;
	margin:2% 0%;
}

.copy{
	text-align: center;
}

.font{
	font-family: 'Sriracha', cursive;
}